schema/auto-build-error.txt
schema/auto-build-output.txt
schema/auto-kill-error.txt
schema/auto-kill-output.txt
schema/build-sql-script-error.txt
schema/build-sql-script-output.txt
schema/local_wcdba_overrides.xml
schema/src/CWMS_AGG_DISTRICT_DATA_TABLE.log
schema/src/CWMS_CITIES_SP_DATA_TABLE.log
schema/src/CWMS_COUNTY_SP_DATA_TABLE.log
schema/src/CWMS_NATION_SP_DATA_TABLE.log
schema/src/CWMS_NID_DATA_TABLE.log
schema/src/CWMS_OFFICES_GEOLOC_DATA_TABLE.log
schema/src/CWMS_STATE_SP_DATA_TABLE.log
schema/src/CWMS_STATION_NWS_DATA_TABLE.log
schema/src/CWMS_STATION_USGS_DATA_TABLE.log
schema/src/CWMS_TIME_ZONE_SP_DATA_TABLE.log
schema/src/CWMS_USACE_DAM_DATA_TABLE.log
schema/src/autobuild.sql
schema/src/autokill.sql
schema/src/buildCWMS_DB.log
schema/src/cwms/defines.sql
schema/src/data/radar_xslt_clobs.ctl
schema/src/data/unit_alias_data.sql
schema/src/dropCwms.sql
schema/src/killCWMS_DB.log
schema/src/mathComputations.pyc
schema/src/py_BuildCwms.sql
schema/src/py_ErocUsers.sql
schema/src/py_Queues.sql
schema/src/py_prompt.sql
schema/src/qualityLoader.ctl
schema/src/qualityLoader.log
schema/src/radar_xslt_clobs.log
schema/**/*.pyc
schema/src/vertcon_clobs.log
schema/src/updateScripts/*.log
**build
.teamcity/target
.project
.settings
**/.classpath
schema/src/CWMS_VERTCON_1HEADER.log
schema/src/CWMS_VERTCON_2DATA.log
schema/src/test/data/locs/*.log
schema/src/test/data/ratings/*.log
schema/local_wcdba_overrides*.xml
schema/populate_cwms_db_change_log.sql
schema/src/py_admin_ErocUsers.sql
schema/src/xml/*.svg
schema/src/xml/*.out
schema/src/xml/*.log
schema/src/xml/hec-datatypes.xsd
**/.gradle
**/bin
**/*.bad
**/target
**/*.versionsBackup
**/.vscode
gradle.properties
schema/rockylinux.xml
/.idea/
*.iml
